.box {
  position: relative;
  border-radius   : 10px;
  background-color: #1890ff;
  display         : flex;
  padding         : 10px;
  min-height: 22%;
  margin:  0 10%;
  margin-bottom: 10px;
  justify-content:space-between;
}

.box img {
  width : 100px;
  height: 100px;
}

.context {
  word-break: break-all;
  color    : white;
  font-size: 40px;
  margin-left: 10px;
}
.context span{
  color: yellow;
}

.msgId {
  color    : white;
  font-size: 35px;
  display: flex;
  align-items: flex-end;
  margin-left: 5px;
}